<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{siteName}} | {{pageTitle}}</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <h1>This is {{capIt pageTitle}} page</h1>