{{> header}}
    <h1>{{pageTitle}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim veniam distinctio nulla quia. Placeat maxime cupiditate aperiam, nisi totam et minus vitae dolorem, nobis in eius pariatur itaque! Minima, odio!</p>
    
{{> footer}}